.wrapper {
    width: 600px;
    height: 450px;
}

.title {
    size: 2rem;
    font-weight: bolder;
}


/* 圆形文字居中 */
.circle {
    width: 24px;
    height: auto;
    border-radius: 50%;
    background-color: #1E90FF;
    margin: 0 10px 0 10px;
}

.circle:hover {
    opacity: 0.5;
}

.circle-text {
    width: 24px;
    height: auto;
    line-height: 24px;
    text-align: center;
    font-size: 56rpx;
    color: #ffffff;
    /* 禁用文字选中 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delete-filter {

}

.select-box {
    width: 22px!important;
    height: 22px;
    margin: 0 0 0 0;
}

.flexd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 10px 0;
}

.w200 {
    width: 200px;
}