.wrapper{
    width: 600px;
    height: 450px;
}

.title {
    size: 2rem;
    font-weight: bolder;

}

.btn {
    border-radius: 100px;
    border: 1px solid black;
    height: 1rem;
    width: 1rem;
}

.flexd {
    display: flex;
    justify-content: flex-start;
}

.w200 {
    width: 200px;
}